/* line 5, /home/rails/app/assets/stylesheets/dashboard.css.scss */
.bold-blue {
  font-weight: bold;
  color: blue;
  text-decoration: underline;
}

/* line 11, /home/rails/app/assets/stylesheets/dashboard.css.scss */
h1.centered {
  text-align: center;
}

/* line 15, /home/rails/app/assets/stylesheets/dashboard.css.scss */
h1.fancy {
  color: darkgreen;
  text-decoration: underline;
}

/* line 20, /home/rails/app/assets/stylesheets/dashboard.css.scss */
div#welcome {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid blue;
  width: 40%;
  padding: 10px;
}

/* line 29, /home/rails/app/assets/stylesheets/dashboard.css.scss */
p#description {
  text-align: center;
  font-size: 14pt;
  color: green;
}
/* line 1, /home/rails/app/assets/stylesheets/layout.css.scss */
#header {
  background-color: dodgerblue;
  padding: 20px;
  font-size: 16pt;
}
/* line 7, /home/rails/app/assets/stylesheets/layout.css.scss */
#header a {
  color: white;
}
/* line 9, /home/rails/app/assets/stylesheets/layout.css.scss */
#header a:hover {
  color: yellow;
  background-color: dodgerblue;
}
/* line 1, /home/rails/app/assets/stylesheets/scaffolds.css.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, /home/rails/app/assets/stylesheets/scaffolds.css.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, /home/rails/app/assets/stylesheets/scaffolds.css.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, /home/rails/app/assets/stylesheets/scaffolds.css.scss */
a {
  color: #000;
}
/* line 23, /home/rails/app/assets/stylesheets/scaffolds.css.scss */
a:visited {
  color: #666;
}
/* line 26, /home/rails/app/assets/stylesheets/scaffolds.css.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 33, /home/rails/app/assets/stylesheets/scaffolds.css.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 38, /home/rails/app/assets/stylesheets/scaffolds.css.scss */
#notice {
  color: green;
}

/* line 42, /home/rails/app/assets/stylesheets/scaffolds.css.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 48, /home/rails/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 55, /home/rails/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 65, /home/rails/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */


